<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <link rel="stylesheet" href="/src/public/css/style.css">
  <style>
    fieldset {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      gap: 30px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }

    .button {
      padding: 10px 20px;
    }
  </style>
</head>

<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/create">Create Users</a></li>
  </ul>
  <div class="form">
    <div class="input-group">
      <form action="/create_user" method="POST">
        <fieldset>
          <legend>Form add new user:</legend>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email"><br><br>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name"><br><br>
          <label for="country">City:</label>
          <input type="text" id="country" name="country"><br><br>
          <button class="button">Save</button>
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>